/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.class
/.lein-*
/.nrepl-port

# Package Files #
*.jar
*.war
*.ear

# OSX+Win garbage #
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
Thumbs.db

*.swp
layout-backup.html

*.orig
*.backup

xiast.conf
