{:production? false ;; Set to true for production
 :database {:type mysql
            :user ""
            :password ""
            :database ""
            :host ""}
 :url-prefix ""} ;; Prefix absolute URLs with this string
