<html>
  <div id="page-content">
<h1 msg="about/about/title">About Xiast</h1> 
<div class="col-md-12" id="about-description">
			<p msg="about/about/content1">
			Xiast (Xiast is a scheduling tool) is a web- and android scheduling application designed and implemented by students of computer-science at the VUB (Vrije Universiteit Brussel).</p>
 			
<p msg="about/about/content2">This application provides users the ability to compose their personal schedule and notifies them about any change made by the university (VUB). Users also have the ability to search for unoccupied classrooms with specific equipment.</p>

<p msg="about/about/content3">Xiast is accessible for everyone. People with no VUB-account can log in as guest and can compose and save their own personal schedule.</p>
</div>
			
<div class="row-fluid">
<div class="col-md-6" id="team-description">
<h1 msg="about/team">The Xiast team</h1>
 
			<ul>
				<li>Adriaan Leijnse</li>
				<li>Anders Deliens</li>
				<li>Kwinten Pardon</li>
				<li>Lars Van Holsbeeke</li>
				<li>Nils Van Geele</li>
				<li>Youssef Boudiba</li>
			</ul>
</div>
<div class="col-md-6" id="info-description">
			<h1 msg="about/info/title">Other Info</h1>

			<ul>
				<li msg="about/info/content1">All documents, source code and other artifacts are publicly available on Github. Documents can be found under <a href="">xiast-docs</a>, source code can be found under <a href="">xiast</h>.</li>
				<li msg="about/info/content2">Since xiast is an open source project, contribution of any kind is certainly welcome!</li>
				<li msg="about/info/content3">If you have any questions feel free to contact us at.</li>
  			</ul>
</div>
</div>
</html>
