<html>
	<div class="container" id="page-content">
		<div class="col-md-12">
			<h1 msg="classroom-edit/title">Classroom edit</h1>
		</div>

		<div class="row-fluid">
			<div class="col-md-4">
				<h2 msg="classroom-edit/buildings">Building</h2>

				<ul class="listing">
					<li class="list-item btn">
						Building A
					</li>
					<li class="list-item btn">
						Building B
					</li>
				</ul>
				<button type="button" class="btn btn-primary">Add/Remove Building</button>
			</div>

			<div class="col-md-4">
				<h2 msg="classroom-edit/rooms">Rooms</h2>
				<ul class="listing">
					<li class="list-item btn">
						room 1
					</li>
					<li class="list-item btn">
						room 2
					</li>
				</ul>
				<button type="button" class="btn btn-primary">Add/Remove Room</button>
			</div>

			<div class="col-md-4">
				<h2 msg="classroom-edit/room-details">Rooms details</h2>
				<button type="button" class="btn btn-primary">update details</button>
			</div>

		</div>
	</div>
</html>
