<html>
	<div class="container" id="page-content">
		<div class="col-md-12">
			<h1 msg="classroom-edit/title">Classroom edit</h1>
		</div>
		<div class="row-fluid">
			<div class="col-md-4">
				<h2 msg="classroom-edit/buildings">Building</h2>
				<input id="keyword-building" name="keyword" type="text" class="search-query" placeholder="Search">
				<div id="building-list">
				</div>
			</div>
		</div>
	<script src="/js/jquery.js" type="text/javascript"></script>
	<script src="/js/jquery-ui.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/classroom-editAPI.js" type="text/javascript"></script>
	</div>
</html>
