<?xml version="1.0" encoding="UTF-8">
<!DOCTYPE html>
<html manifest="xiast.appcache">
<div class="row-offcanvas wrapper">
	<div id="menu">
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" id="toggle" class="navbar-toggle">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button><a class="navbar-brand" href="/">Xiast</a>
				</div>
				<div class="collapse navbar-collapse" id="menu-items">
					<ul class="nav navbar-nav">
						<li><a href="/" msg="header/home">Home</a></li>
						<li><a href="/about" msg="header/about">About</a></li>
						<li><a href="http://vub.ac.be" msg="header/vub">VUB</a></li>
						<li><a href="/timetables" msg="header/timetables">Timetables</a></li>
						<li id="login-out"><a href="/login" msg="header/login">Login</a></li>
						<li class="flag"><a href="/lang/nl-BE"><img class="country-flag" src="/img/flags/Belgium.png" /></a></li>
						<li class="flag"><a href="/lang/en"><img class="country-flag" src="/img/flags/UnitedKingdom.png" /></a></li>
					</ul>
				</div>
			</div>
		</div>

	<div class="container">
		<div class="row">
			<div id="sidemenu" class="col-xs-12 sidebar-offcanvas">
				<ul class="nav nav-stacked sidemenu" data-role="panelbar">
					<li><a href="/" msg="header/home">Home</a></li>
					<li><a href="/about" msg="header/about">About</a></li>
					<li><a href="http://vub.ac.be" msg="header/vub">VUB</a></li>
					<li><a href="/timetables" msg="header/timetables">Timetables</a></li>
					<li id="login-out"><a href="/login" msg="header/login">Login</a></li>
					<li class="flag"><a href="/lang/nl-BE"><img class="country-flag" src="/img/flags/Belgium.png" /></a></li>
					<li class="flag"><a href="/lang/en"><img class="country-flag" src="/img/flags/UnitedKingdom.png" /></a></li>
				</ul>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="alert container alert-dismissable"
id="alert">
<button type="button" class="close"
data-dismiss="alert" aria-hidden="true">
&times
</button>
error message should be
displayed here
</div>
</div>
</html>
