<!doctype html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Xiast is a scheduling tool</title>
  </head>
  <body>
    <div id="page-content">
      <div class="row-fluid">
        <div class="col-md-3 course-list" id="course-list">
          <div class="btn course-btn"></div>
        </div>
        <div class="col-md-3">
          <select multiple class="form-control" id="selected_courses">
          </select>
        </div>
      </div>
      <h1 msg="index/welcome">Welcome to Xiast, Guest!</h1>
      <h2 msg="index/list-of-courses">Here's a list of courses:</h2>
    </div>
  </body>
</html>
