<!doctype html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Xiast is a scheduling tool</title>
  </head>
  <body>
    <div id="page-content">
      <div class="row">
        <div class="col-lg-6 col-xs-8 col-sm-7">
          <h1 msg="index/welcome">Xiast</h1>
          <h2 msg="index/description"></h2>
        </div>
        <div class="col-lg-6 col-xs-4 col-sm-5">
          <img src="/img/logo/xiast_logo_small.png" class="img-responsive">
        </div>
      </div>
    </div>
  </body>
</html>
