<html>
  <head>
    <link rel="stylesheet" type="text/css"
          href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" 
          href="css/xiast.css">
  </head>
  <body>
    <div id="menu">
      <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-brand">Xiast</div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="http://vub.ac.be">VUB</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="#" class="pull-right"><img class="country-flag" src="img/flags/Belgium.png"</a></li>
            <li><a href="#" class="pull-right"><img class="country-flag" src="img/flags/UnitedKingdom.png"></a></li>
          </ul>
        </div>
      </header>
    </div>
    <div class="container" id="page-content">
    </div>
  </body>
</html>
