<html>
  <head>
    <meta charset="utf-8" />
    <title>Xiast is a scheduling tool</title>
  </head>
  <body>
    <div id="page-content">
      <h1>Schedule</h1>
      <div class="row">
          <div class="col-md-12">
          <div id="schedule-content" class="col-md-10">

          </div>
          <div id="schedule-buttons" class="col-md-2">

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-2">
            <a data-toggle="modal" href="#newEvent" class="btn btn-success btn-lg" id="AddEvent">Create event</a>
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-lg" id="apply_button" onclick="send_proposal()">Apply</button>
          </div>

        </div>
     </div>

    <div class="modal fade" id="newEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create event</h4>
          </div>
          <div class="modal-body">
            <form class="form" id="event-creation" onsubmit="return create_event()">
              
              <!-- program -->

              <div class="form-group">
                <label class="control-label" for="program">Program</label>
                <input id="program" name="program" type="text" class="form-control" list="programs_option_list" onchange="update_course_activity_list()" required disabled>
              </div>

              <!-- course activity -->

              <div class="form-group">
                <label class="control-label" for="course_activity">Course Activity</label>
                <input id="course_activity" name="course_activity" type="text" class="form-control" list="room_option_list" onchange="update_rooms_list()" required disabled>
              </div>

              <!-- Room -->

              <div class="form-group">
                <label class="control-label" for="course_activity">Room</label>
                <input id="course_activity" name="course_activity" type="text" class="form-control" list="room_option_list" required disabled>
              </div>


              <!-- Time -->

              <div class="form-group">
                <label class="control-label" for="week">Week</label>
                <input id="week" name="week" type="number" class="form-control" placeholder="32" required>
              </div>

              <div class="form-group">
                <label class="control-label" for="day">Day</label>
                <select id="day" name="day" class="form-control" required>
                  <option value="0">Monday</option>
                  <option value="1">Tuesday</option> 
                  <option value="2">Wednesday</option> 
                  <option value="3">Thursday</option> 
                  <option value="4">Friday</option> 
                  <option value="5">Saturday</option> 
                </select>
              </div>

              <div class="form-group">
                <label class="control-label" for="first_slot">First Slot</label>
                <select id="first_slot" name="first_slot" class="form-control" required>
                </select>
                <script type="text/javascript">
                  for(var i=1; i<= 32; i++){
                  var select = document.getElementById("first_slot");
                  var option = document.createElement("OPTION");
                  select.options.add(option);
                  option.text = i;
                  option.value = i;
                  }
                </script>
              </div>
              <div class="form-group">
                <label class="control-label" for="last_slot">Last Slot</label>
                <select id="last_slot" name="last_slot" class="form-control" required></select>
                <script type="text/javascript">
                  for(var i=1; i<= 32; i++){
                  var select = document.getElementById("last_slot");
                  var option = document.createElement("OPTION");
                  select.options.add(option);
                  option.text = i;
                  option.value = i;
                  }
                </script>
              </div>

              <button type="button" class="btn btn-primary" onclick="create_event()">Create Event</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/ServerLove.js" type="text/javascript"></script>
    <script src="/js/courseAPI.js" type="text/javascript"></script>
    <script src="/js/programAPI.js" type="text/javascript"></script>
    <script type="text/javascript">
      create_program_option_list("#event-creation", "#program");
      });
</script> 

    </div>
  </body>
  </div>
</html>
l