<html>
	<div class="container" id="page-content">
		<div class="col-md-12">
			<h1 msg="semi-scheduling/semi-scheduling/title">Semi-Scheduling</h1>
			<p msg="semi-scheduling/semi-scheduling/content1">
				semi-scheduling
			</p>
		</div>

		<div class="row-fluid">
			<div class="col-md-12">
				<button class="btn btn-primary">Current</button>
				<button class="btn btn-primary">Proposition</button>
			</div>
			<div class="col-md-3">
				<h1>Preferences</h1>

				<ul>
					<li>
						<input type="checkbox" name="projector" value="projector">Needs Projector
					</li>
					<li>
						<input type="checkbox" name="computers" value="computers">Needs computers
					</li>
				</ul>
				<button class="btn btn-primary">Apply</button>
				<hr>
				<button class="btn btn-primary">Schedule</button>
			</div>
			<div class="col-md-9">
				<h1>Semi-schedule</h1>
      			<div id="schedule-content">
        
      			</div>
      			<button class="btn btn-primary">Propose</button>
      		</div>
		</div>
	</div>
</html>
