#menu{
    margin-bottom: 10px;
    min-height: 60px;
}

.country-flag{
    height: 30px;
    width: 30px;
}

.flag{
    float: left;
}

.login{
    padding: 15px;
    padding-bottom: 5px;
    min-width: 250px;
}

.course-list{
    max-heigth: 80%;
    overflow: auto;
}

.course-btn{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: E6E6E6;
}

.nav{
    min-width: 80%;
}

.navbar-toggle{
    float: left;
    margin-left: 15px;
}